// ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
// EDITOR
// ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

[data-editor='editor'][contenteditable='true']:empty:before {
	content: attr(placeholder);
	display: block;
	pointer-events: none;
}
