// ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
// HEADINGS
// ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

h1,
h2,
h3,
h4,
h5 {
	overflow-wrap: break-word;
	hyphens: auto;
}

h1 {
	font-size: var(--h1-font-size);
	line-height: var(--h1-line-height);
}

h2 {
	font-size: var(--h2-font-size);
	line-height: var(--h2-line-height);
}

h3 {
	font-size: var(--h3-font-size);
	line-height: var(--h3-line-height);
}

h4 {
	font-size: var(--h4-font-size);
	line-height: var(--h4-line-height);
}

h5 {
	font-size: var(--h5-font-size);
	line-height: var(--h5-line-height);
}
