
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

[data-editor='editor'] {
  background: var(--surface-color-2);
  border: 4px solid var(--surface-color-1);
  border-radius: 20px;
  color: var(--text-color);
  padding: 20px;
  width: 100%;
  max-width: 600px;
  overflow: auto;

  &:focus {
	outline: none;
  }
}
