// ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
// COLORS - Dim mode
// ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

@mixin dim-color-scheme {
  color-scheme: dark;

  --brand-color: hsl(
    var(--brand-hue) calc(var(--brand-saturation) / 1.25) calc(var(--brand-lightness) / 1.25)
  );

  --text-color: hsl(var(--brand-hue) 5% 75%);
  --text-color-2: hsl(var(--brand-hue) 5% 61%);

  --surface-color-1: hsl(var(--accent-hue) 10% 20%);
  --surface-color-2: hsl(var(--accent-hue) 10% 25%);
  --surface-color-3: hsl(var(--accent-hue) 5%  30%);
  --surface-color-4: hsl(var(--accent-hue) 5% 35%);
}