// ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
// MEDIA QUERIES
// ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

// Media Print
// Media Screen
// Media Speech

$breakpoints: (
	sm: var(--breakpoint-sm),
	md: var(--breakpoint-md),
	lg: var(--breakpoint-lg),
	xl: var(--breakpoint-xl),
	xxl: var(--breakpoint-xxl),
);

/**
 * h1 {
 * 	@include media-breakpoint-up(md) { ... } 
 * }
 */
@mixin media-breakpoint-up($breakpoint: map-get($breakpoints, 'sm')) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media screen and (min-width: map-get($breakpoints, $breakpoint)) {
			@content;
		}
	}
}

/**
 * p {
 * 	@include media-breakpoint-down(md) { ... }
 * }
 */
@mixin media-breakpoint-down($breakpoint: map-get($breakpoints, 'sm')) {
	@if map-has-key($breakpoints, $breakpoint) {
		$width: map-get($breakpoints, $breakpoint) - 1px;

		@media screen and (max-width: $width) {
			@content;
		}
	}
}

/**
 * ul {
 * 	@include media-breakpoints(sm, md) { ... }
 * }
 */
@mixin between-breakpoints(
	$min-breakpoint: map-get($breakpoints, 'sm'),
	$max-breakpoint: map-get($breakpoints, 'md')
) {
	@if map-has-key($breakpoints, $min-breakpoint) and
		map-has-key($breakpoints, $max-breakpoint)
	{
		$min-width: map-get($breakpoints, $min-breakpoint);
		$max-width: map-get($breakpoints, $max-breakpoint) - 1px;

		@media screen and (min-width: $min-width) and (max-width: $max-width) {
			@content;
		}
	}
}
